<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GreenApple</servlet-name>
		<servlet-class>co.greenapple.GreenAppleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GreenApple</servlet-name>
		<url-pattern>/greenapple</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>wishList</servlet-name>
		<servlet-class>co.greenapple.WishListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wishList</servlet-name>
		<url-pattern>/wishList</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>saveWishList</servlet-name>
		<servlet-class>co.greenapple.SaveWishListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveWishList</servlet-name>
		<url-pattern>/saveWishList</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
